<launch>
    <node pkg="module-pose-estimation-conventional" type="pose_extraction_node" name="pose_extraction_node" output="screen">
        <param name="itopic_image" value="/d455/color/image_raw" />
        <param name="itopic_depth_image" value="/d455/depth/image_rect_raw" />
        <param name="itopic_depth_camera_info" value="/d455/depth/camera_info" />
        <param name="world_tf_frame_id" value="t265_odom_frame" /> <!-- TODO: FIX -->
        <param name="itopic_detection2D" value="/perception/module_bbox_dummy" /><!-- TODO: Use true bbox from YOLO: "/perception/object_detection/detections" -->
        
        <param name="otopic_PoseWithCovarianceStamped" value="/perception/interactionPointPoseWithCovariance" />

        <param name="img_buffer_size" value="60" />
        <param name="debug" value="1" />
	</node>

    <node pkg="rosbag" type="play" name="player" args="-l --clock $(find module-pose-estimation-conventional)/bags/testflight_2021-01-15-17=29-50.bag"/>

</launch>
